Source/Android/.gradle/
Source/Android/.idea/compiler.xml
Resource/stockapp/.gradle/4.1/fileChanges/last-build.bin
Resource/stockapp/app/build/intermediates/blame/res/androidTest/debug/multi-v2/values-km.json
Resource/stockapp/app/build/
Resource/StockChart/gradle/
Resource/Mystock-master/.idea/
Resource/stockapp/.gradle/4.1/fileContent/annotation-processors.bin
Resource/stockapp/.gradle/
Resource/stockapp/.idea/
Source/Android.rar
